body, p {
    margin: 0;    
    font-size: 1.0rem;
    color: #000000;
    font-family: Helvetica;
    background-color: #ffffff;        
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* { 
-webkit-tap-highlight-color: transparent;
}

a {    
    text-decoration: none;  
    color: inherit;
    cursor: pointer;    
    transition: opacity 0.2s;    
}

button {
    cursor: pointer;
    transition: opacity 0.2s;
}

.container {             
    margin: 0 auto;          
}

/* Header */

.header-inner {
    margin: 5px 0px;    
    width: 100%;    
    display: flex;
    flex-direction: row;
}
    .header-logo {    
        width: 20%;
        text-align: left;
        margin: 0 20px;
}
        .header-logo img {
            width: 100%;
}
    .header-lk {    /*должен исчезать */
        width: 80%;
        text-align: end;
        margin: auto 20px auto auto;
}
        .orange {
            color: #F18A2F;
}
        .bold {
            font-weight: 700;
}

/* Основная часть. Блок из двух частей - центра и правой */

.main-inner {    
    display: flex;  
    flex-direction: row;  
}

/* Центр. Зона картинки */

.main-center {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
    .header-line {   
        width: 100%; 
        height: 1px;
        background-color: #F18A2F;
}
    .center_menu {
        width: 100%;    
        margin: 10px 0px;
        text-align: center;    
        font-size: 1.5rem;
        color: #412a77;
}
    .center_img-block {    
        width: 100%;        
        position: relative;        
}
        .center_img-block img {    
            width: 100%;
            object-fit: contain;
}
    .center_btn {
        width: 15vw;
        height: 8vh;        
        border: 1px solid orange;
        border-radius: 45em;
        font-size: 2rem;
        color: #747ae2;
        background-color: white;    
}        
        .center_btn-z {
            position: absolute;
            z-index: 2;
            top: 25%;
            left: 10%;        
}
        .center_btn-o {
            position: absolute;
            z-index: 2;
            bottom: 25%;    
            left: 10%;    
}
        .center_btn-r {
            position: absolute;
            z-index: 2;
            top: 25%;    
            right: 10%;        
}
        .center_btn-s {
            position: absolute;
            z-index: 2;
            bottom: 25%;    
            right: 10%;
}
    .center_btn:hover {
        border: 2px solid orange;
        border-radius: 45em;    
}
    .center_btn:active {
        box-shadow: inset 0 0 10px orange;
        border-radius: 45em;    
}
   
/* Центр. Зона карточек */

.main-centre-inner {    
    margin: 0px 10px 5px 10px;
    border: #A2A5D9 solid 1px;
    border-radius: 5px;    
}

.center_img-block-m {
    display: none;
}

/* Карточки*/

    .main-centre-card {
        width: 100%;             
        display: flex; 
        flex-wrap: wrap;     
        justify-content: space-between
}

        .card {
            width: 22%;
            height: 30em;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.20), 0px 0px 5px rgba(0, 0, 0, 0.35);
            margin: 10px;   
            background-color: #F8F8FF;     
            font-size: 0.8rem;    
}
            .card-img img {
                width: 100%;
}
            .card-text {            
                margin: 10px;        
                text-align: center;        
}
            .card-text p {    
                font-size: 1rem;
                margin: 1rem;
                background-color: #F8F8FF;    
}
        .card-img img:hover {
            outline: 2px solid #A2A5D9;    
            outline-offset: -2px;         
}
        .card-img img:active {
            outline: 5px solid #caccf3;
            outline-offset: -5px;         
}

/* Правая панель */

.main-right {
    width: 20%;
    background-color: #E3DFEC;
    display: flex;
    flex-direction: column;
}

/* Блоки правой стороны: календарь, календарь мероприятий, оповещения. Общее свойство */
    .main-right-block {
        background-color: #ffffff;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
}

/* Блок 1: Календарь .cal_block */

  #calendar2 {
    width: 100%;
    line-height: 1.2em;
    font-size: 1rem;
    text-align: center;
  }
  #calendar2 thead tr:last-child {
    font-size: 1rem;
    color: rgb(85, 85, 85);
  }
  #calendar2 thead tr:nth-child(1) td:nth-child(2) {
    color: #A2A5D9;
    font-weight: 700;
  }
  #calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
  }
  #calendar2 tbody td {
    color: rgb(44, 86, 122);
  }
  #calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
    color: #F18A2F;
  }
  #calendar2 tbody td.today {
    background: rgb(220, 0, 0);
    color: #fff;
  }

/* Блоки 2 и 3. Общие свойства */

.main-right-block-h {
    font-size: 1rem;
    font-weight: 700;
    color: #A2A5D9;
}
.line {    
    border: none;
    background-color: #A2A5D9;
    height: 1px;
    margin: 5px -10px;
}
.main-right-block-inner {
    display: flex;
    flex-direction: column;
}
    .main-right-block-news { 
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 3.5rem;
        max-height: max-content;
        padding: 0.5rem 0;
}        
        .main-right-block-pic {
            width: 15%;
            margin-right: 10px;        
            position: relative;
}
            .main-right-block-pic img {
                width: 90%;           
}
            .main-right-block-day {                
                position: absolute;
                left: 30%;
                top: 45%;
                z-index: 2;    
                font-weight: 500;
}
        .main-right-block-text {
            width: 85%;
}

/* Блок 2: Календарь мероприятий .cal-m-block. Название месяца */
/* Блок 3: Оповещения .danger-block */

.main-right-block-mounth {    
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 0;    
}

.text-a:hover {
    background-color: #A2A5D9;   
    transition: opacity 0.3s; 
    color: #ffffff;
}

/* Footer */
.footer {
    width: 100%;
    height: max-content;
    padding: 0.5%;
    font-size: 1rem;
    background-color: #E3DFEC;
}

@media screen and (max-width: 600px) {
    .header-lk {
        display: none;
    }
    .header-logo {
        width: 100%;
        align-items: center;
    }
    .main-inner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .main-center {
        width: 100%;
    }
    .center_img-block {
        display: none;
    }    
    .center_img-block-m{   
        display: flex;
        flex-direction: column;
        justify-self: center;
        background-color:#f8e2b3;
    }
    .center_btn {
        position: relative;
        margin: 2% auto;
        top: 0%;
        left: 0%;
        width: 75%;     
    }
    .center_img-block img {  
        display: none;
    }
    .card-z {
        display: none;
        width: 100%;
        height: max-content;
    }
    .card-o {
        display: none;
        width: 100%;
        height: max-content;
    }
    .card-r {
        display: none;
        width: 100%;
        height: max-content;
    }
    .card-s {
        display: none;
        width: 100%;
        height: max-content;
    }

    .main-centre-inner {
        /* display: none; */
        border: none;
    }

    .main-right {
        width: 100%;
    }
    .cal-block {    
        display: none;
    }
}


/* Модальное окно */

.modal-o {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;    
}

.modal-inner {
    width: 500px;
    height: 400px;    
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.20), 0px 1px 5px rgba(0, 0, 0, 0.35), 0px 6px 16px rgba(0, 0, 0, 0.28);
    background-color: #FFFFFF;
    color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.modal-o:target {
    display: block;    
}

.modal-button {
    margin: 50px 20px;
    width: 130px;
    height: 30px;
    background-color: #E3DFEC;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.20), 0px 1px 5px rgba(0, 0, 0, 0.35);

}

.modal-button:hover {
    background-color: #A2A5D9;   
    transition: opacity 0.3s; 
}