	 @font-face {
	    font-family: 'Roboto';
	    src: url('fonts/Roboto-Regular.ttf');
	    font-weight: normal;
	    font-style: normal;
		
	 }

	 body {
	    background: white;
	    padding: 0;
	    margin: 0;
	    font-family: Roboto;	
		color: rgb(1, 66, 51);	
	 }

	 div, img {
	    margin: 0;
	    padding: 0;
	    border: none;
	 } 

	 #main {
	    position: relative;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    min-height: 100%;
	 }

	a {
		color: inherit;
		text-decoration: none;	
	}


#logo {
background: rgb(0, 155, 118);
width: 100%;
height: 170px;
position: relative;
top: 0;
left: 0;
margin-bottom: 20px;
}

#logo img {
width: 600px;
left: 50%;
margin-left: -509px;
position: relative;
top: 30px;

}

#letter {
	width: 1018px;
	left: 50%;
	margin-left: -509px;
	background: white;	
	background-position: bottom;
	background-repeat: no-repeat;
	color: black;
	position: relative;
	padding-bottom: 2em;
	line-height: 1.4em;
	color: rgb(1, 66, 51);
 }

.header_2 { 
	margin-bottom: 20px;
}

.header_2_ {
	display: flex;
	flex-direction: row;
	text-align: center;	
	justify-content: space-between;	
}

.header_2_btn {	
	width: 150px;	
	height: 70px;
	background-color: white;
	border: 1px solid orange;
	border-radius: 6px;
	font-size: 16px;		
	margin-right: 10px;
	padding: 5px;
	align-content: center;
	color: rgb(0, 155, 118);
}

.header_2_btn:hover {
	box-shadow: 2px 2px 2px rgb(0, 155, 118, 0.5);
}	
.header_2_strah_btn:hover {
	box-shadow: 2px 2px 2px rgb(0, 155, 118, 0.5);
}
.header_2_tel_btn:hover {
	box-shadow: 2px 2px 2px rgb(0, 155, 118, 0.5);
}	
.header_2_strah_btn {	
	width: 150px;	
	height: 70px;
	background-color: white;
	border: 1px solid rgb(255, 0, 0);
	border-radius: 6px;
	font-size: 18px;	
	margin: 0px 20px;
	padding: 5px;
	align-content: center;
	color: red;	
}

.header_2_tel_btn {
	width: 150px;	
	height: 70px;
	background-color: white;
	font-size: 16px;		
	padding: 5px;
	align-content: center;
	color: rgb(0, 155, 118);
	border: 1px solid rgb(255, 0, 0);
	border-radius: 6px;
	/*box-shadow: 2px 2px 2px rgb(0, 155, 118, 0.5);*/
}

.text_3 {
	color: red;
	border: 1px solid rgb(0, 155, 118);
	border-radius: 6px;
	margin: 20px 0px;
	padding: 10px;	
	
}

.text_4_btn {
	display: flex;
	flex-direction: row;
	text-align: center;	
	justify-content: space-between;		
}

.text_4_btn_ {
	width: 300px;
	height: 70px;	
	background-color: white;
	border: 1px solid orange;
	border-radius: 6px;
	margin: 0px 15px 0px 0px;
	text-align: center;
	font-size: 20px;
	color: rgb(1, 66, 51);
}

.text_4_btn__ {
	width: 300px;
	height: 70px;	
	background-color: white;
	border: 1px solid orange;
	border-radius: 6px;
	margin: 0px;
	text-align: center;
	font-size: 20px;
	color: rgb(1, 66, 51);
}

.text_4_btn_:hover {
	box-shadow: 2px 2px 2px rgb(0, 155, 118, 0.5);
}

.text_5_actual {
	background-color: rgb(0, 155, 118, 0.2);
	/*border: 2px solid rgb(1, 66, 51);*/
	border-radius: 6px;
	padding: 10px;
	margin: 20px 0px;
}

.green_bar_6 {
	background: rgb(0, 155, 118);
	text-align: center;
	margin: 20px 0px;
	padding: 1em 0;
	color: white;
}

.text_7 {
	margin-bottom: 20px;
}
.text_7_card {
	display: flex;	
	flex-direction: row;
	text-align: center;	
	justify-content: space-between;	
	margin-bottom: 10px;
}

.card_1 {
	width: 25%;
	margin-right: 10px;
	padding: 10px;
	background-color: rgb(0, 155, 118, 0.2);

}

.card_1_end {
	margin-right: 0px;
}

.text_6_usl {
	display: flex;
	flex-direction: row;
	text-align: center;	
	justify-content: space-between;	
	margin-bottom: 10px;
}

.text_6_btn {
	width: 150px;
	height: 50px;	
	background-color: white;
	border: 1px solid rgb(0, 155, 118);
	border-radius: 6px;
	margin: 0px 15px 0px 0px;
	text-align: center;
	font-size: 15px;
	color: rgb(1, 66, 51);
	
}
.text_6_btn:hover {
	box-shadow: 2px 2px 2px rgb(0, 155, 118, 0.5);
}

.text_6_btn_ {
	width: 150px;
	height: 50px;	
	background-color: white;
	border: 1px solid rgb(0, 155, 118);
	border-radius: 6px;
	margin: 0px;
	text-align: center;
	font-size: 15px;
	color: rgb(1, 66, 51);
}
